* {
    padding: 0%;
    margin: 0%;
}

@media (max-width: 940px) {

    .inputLogin {
        padding: 15px 40px;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .botaoLogin {
        padding: 10px 18px;
        background-color: #007c6e;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    
    }

    body {
        height: 80vh;
        margin: 0;
        background-color: #0F1C33;
    }

    .logo {
        width: 50%;
        margin-bottom: 30%;
    }

    .registre-se {
        display: flex;
        gap: 10px;
        margin-left: 25%;
    }

    .boxLogin {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    header {
        background-color: #152A4F;
        max-height: 100px;
        border-radius: 0 0 30px 0;
    }

    .entreNaSuaConta {
        font-size: 30px;
        font-weight: bold;
        font-family: Montserrat;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        margin: 105px 0 70px 0;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        color: #FFFFFF;
        text-align: center;
        padding: 10px;
        border-top-left-radius: 30px;
        background-color: #020D1C;
    }

}

